body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 0px 5px gray;
}

button {
  padding: 8px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}